:root {    
    --magx-panel-background: #000000;    
    --magx-panel-button-height: 20px;
    --magx-panel-button-bg: #000000;
    --magx-panel-button-bg-active: #333333;
    --magx-panel-button-border: 1px solid #666666;
    --magx-panel-checkbox: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAALklEQVQ4T2NMS0v7z0ABYAQZMGvWLLKMSEtLYxg1YDQMRtMBAwP1woCsrAjVBAB1700hDp2I2AAAAABJRU5ErkJggg==') no-repeat;
    --magx-panel-checkbox-checked: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvklEQVQ4T63Tyw2EIBAA0OFKCSCdeaYAoAy1AM52JrTAlc2QYHAdjFmWo5l5zgeY1jrDwGEIeO+Bc16YlNIj18ZpraEA+76DMaYkbtvWRTC5jZvn+QoopeA4DhKpyW3MCdQWUKcQKhlbPVtAAA8ViN978A34RkIIwBgDKSXZGglUxFoL0zSVymKMsCzLbbiPgHMOhBClAqxkXdd3QDsH/HPOuVRCbee/Q+ytqredyxrrTfz5Ig1f5eHHNPCa4QMbS/ghxbi89AAAAABJRU5ErkJggg==') no-repeat;
    --magx-panel-checkbox-label-left: 24px;
    --magx-panel-checkbox-label-top: 5px;
    --magx-panel-common-border: 1px solid #666666;
    --magx-panel-common-height: 18px;    
    --magx-panel-container-bg: #000000;
    --magx-panel-container-margin: 2px;
    --magx-panel-container-padding: 2px;
    --magx-panel-file-padding: 3px;
    --magx-panel-font: 10px sans-serif;
    --magx-panel-input-font: 10px sans-serif;
    --magx-panel-label-margin: 3px;    
    --magx-panel-main-bg: #000000;
    --magx-panel-overlay-bg: rgba(0.25, 0.25, 0.25, 0.5);
    --magx-panel-panel-shadow: none;
    --magx-panel-panel-width: 160px;    
    --magx-panel-progress-bg: #000000;
    --magx-panel-progress-height: 12px;    
    --magx-panel-progress-value: #444444;
    --magx-panel-range-size: 12px;
    --magx-panel-range-size-outer: 14px;
    --magx-panel-range-thumb: #666666;
    --magx-panel-range-track: #333333;
    --magx-panel-scrollbar-active: #777777;
    --magx-panel-scrollbar-color: #666666 #333333;
    --magx-panel-scrollbar-thumb: #666666;
    --magx-panel-select-bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAn0lEQVRIS+2SwQ3AIAhFPzM4iUe3cTS38eYmzmDzm5jYpgWTpjc4Cv4PDwTAwI8hbmDRdUQWITii74hCCOi9PwppuflB3UFKCTlnlFJQa72YaLm1UDWgOIUYq8kU5zuNmXsL84ruJhTi2444a0yDKTgnGWNARMzOt3awjs2uY4yneGtNxbK9gztXXg3j7aqe9rCFyDx2pcANTHqOyER0AGnMUQHV+W35AAAAAElFTkSuQmCC');
    --magx-panel-select-font: 10px sans-serif;
    --magx-panel-selected-container-background: #000000;
    --magx-panel-selected-container-border: 1px solid #cccccc;    
    --magx-panel-text-border: none;    
    --magx-panel-text-border-focused: none;
    --magx-panel-text-bg: #333333;
    --magx-panel-text-bg-focused: #333333;    
    --magx-panel-text-color: #bbbbbb;    
    --magx-panel-title-bg: #000000;        
}
