:root {
    --magx-panel-background: #cccccc;    
    --magx-panel-button-height: 30px;
    --magx-panel-button-bg: #f6f6f6;
    --magx-panel-button-bg-active: #cccccc;
    --magx-panel-button-border: 1px solid #aaaaaa;
    --magx-panel-checkbox: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAALklEQVQ4T2OcOXPmfwYKACPIgLS0NLKMmDVrFsOoAaNhMJoOGBioFwZkZUWoJgApdFaxjUM1YwAAAABJRU5ErkJggg==') no-repeat;
    --magx-panel-checkbox-checked: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvElEQVQ4T63Tyw2EIBAA0OFKBxBL40wDRovAUACcKc1IB1zZDAkG18GYZTmSmafzgTnnMgwchoDWGlJKheGcP3JtnPceCqCUAmttSZznuYtgchsXQrgC+77DNE0kUpPbmBOoJaBOIVQylnqWgAAeKhDve/AN+EaklJBzhhgjWRoJVGTbNjiOowAIret6a+4jYIwpX8aDwLIs74C2D0IIYIyVP6Gm898m9kbVm85ljHUTf16k4VUefkwDrxk+zoUEwCt0GbUAAAAASUVORK5CYII=') no-repeat;
    --magx-panel-checkbox-label-left: 30px;
    --magx-panel-checkbox-label-top: 7px;
    --magx-panel-common-border: none;
    --magx-panel-common-height: 24px;    
    --magx-panel-container-bg: #eeeeee;
    --magx-panel-container-margin: 5px;
    --magx-panel-container-padding: 5px;
    --magx-panel-file-padding: 7px;
    --magx-panel-font: 12px sans-serif;
    --magx-panel-input-font: 12px sans-serif;
    --magx-panel-label-margin: 3px;    
    --magx-panel-main-bg: #dddddd;
    --magx-panel-overlay-bg: rgba(0.25, 0.25, 0.25, 0.5);
    --magx-panel-panel-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
    --magx-panel-panel-width: 200px;    
    --magx-panel-progress-bg: #cccccc;
    --magx-panel-progress-height: 15px;    
    --magx-panel-progress-value: #999999;
    --magx-panel-range-size: 15px;
    --magx-panel-range-size-outer: 17px;
    --magx-panel-range-thumb: #999999;
    --magx-panel-range-track: #cccccc;
    --magx-panel-scrollbar-active: #999999;
    --magx-panel-scrollbar-color: #cccccc #ffffff;    
    --magx-panel-scrollbar-thumb: #cccccc;
    --magx-panel-select-bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAp0lEQVRIS+2SsQ3FIAwF7RVYhA5mgQFhFuhYhJKWL0eKxI8SGylKZ0p4+OBsHGNM+HChAiS7qkgyBKrovaLeOxhjbgtxZ+cFtgelFMg5QwgBvPd/EO5sDbKAlBLUWo/8CjmL075zDmKMj6rEKbpCqBL9aqc4ZUQAhVbInBMQUXz5Vg/WfxOktXZsWWtZLds9uIqlqaH1NFV3jdhSJA47E1CAaE8ViYp+wGiWMZ/T+cgAAAAASUVORK5CYII=');
    --magx-panel-select-font: 12px sans-serif;
    --magx-panel-selected-container-background: #ffffff;
    --magx-panel-selected-container-border: none;    
    --magx-panel-text-border: 1px inset #ffffff;    
    --magx-panel-text-border-focused: 1px inset #ffffff;
    --magx-panel-text-bg: #ffffff;
    --magx-panel-text-bg-focused: #ffffff;    
    --magx-panel-text-color: #000000;    
    --magx-panel-title-bg: #eeeeee;        
}
